body {
    background-color: #f4f4f4;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #e84142;
}


.container {
    background-color: white;
    width: 500px;
    padding: 30px;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    justify-self: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-top: 0%;
}

.form {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff9f9;
    border: 1px solid #ffecec;
    border-radius: 8px;

}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.btn-calc {
    color: white;
    background-color: #e84142;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.result-card {
    margin-top: 25px;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.small-note {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

#estimatedReward {
    color: white;
}