body {
    background-color: #f4f4f4;
    justify-content: center;
    padding: 40px 20px;
    display: flex;
}

h1 {
    text-align: center;
    color: #e84142;
    margin-top: 0px;
}


.container {
    background-color: white;
    width: 100%;
    max-width: 550px;
    padding: 30px;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    justify-self: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #fff0f0;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #ffe0e0;
}

.spinner {
    width: 24px;
    height: 24px;
    border: 3px solid #ffd0d0;
    border-top: 3px solid #e84142;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

.role-select {
    display: flex;
    background: #f0f0f0;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 25px;
}

.roleBtn {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    color: #666;
    transition: all 0.2s;
}

.roleBtn.active {
    background: white;
    color: #e84142;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-top: 0%;
}

.form-group {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff9f9;
    border: 1px solid #ffecec;
    border-radius: 8px;

}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

#feeSection {
    transition: opacity 0.3s;
}

.disabled-section {
    opacity: 0.4;
    pointer-events: none;
}

.btn-calc {
    color: white;
    background-color: #e84142;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.result-card {
    margin-top: 25px;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.est-reward {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #374151;
}

.est-reward:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.result-val { 
    font-family: monospace; 
    font-size: 20px; 
    font-weight: bold; 
    color: #e84142; 
}
.result-label { 
    color: #f0f0f0; 
    font-size: 15px; 
} 

.small-note {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

#estimatedReward {
    color: white;
}